body {
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
    
}

.contenedor {
    width: 80%;
    color: blue;
    border: 2px solid red;
    text-align: center;
    margin: 0 auto;
}

.titulo {
    font-weight: bold;
    color: crimson;
    font-family: cursive;
}